body{
    font-family: 'Courgette', cursive;
    color: #fff;
    /* background: linear-gradient(to right,#F0F2F0, #000C40); */
    /* background: linear-gradient(to right,#FFD194, #D1913C); */
    /* background: linear-gradient(to right,#C5796D, #FFA751); */
    /* background: linear-gradient(to right,#6441A5, #2a0845); */
    /* background: linear-gradient(to left,#FF512F, #F09819); */
    /* background: linear-gradient(to right,#26D0CE, #1A2980); */
    /* background: linear-gradient(to left,#83a4d4, #b6fbff); */
    /* background: linear-gradient(to left,#616161, #9bc5c3); */
    /* background: linear-gradient(to left,#c21500, #ffc500); */
    background: linear-gradient(to left,#fc00ff, #00dbde);
    


}